@media (max-width: 1200px) {
    body {
        width: 100%;
    }

    body main {
        width: 768px;
        height: 1152px;
    }

    body main .container-main {
        flex-wrap: wrap;
    }

    body main .container-main .container-central {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    body main {
        width: 375px;
        height: 1360px;
        padding-top: 84px;
    }

    body main h1 {
        font-size: 24px;
        width: 350px;
        line-height: 37px;
    }

    body main .main-paragraph {
        width: 300px;
        letter-spacing: .08px;
        line-height: 24px;
        margin: 16px 0 77px 0;
    }

    body main .container-main {
        gap: 25px;
    }

    body main .container-main .container {
        width: 310px;
        height: 221px;
        padding: 23px 28px 27px 27px;
    }

    body main .container-main .container-central {
        flex-direction: column;
        gap: 25px;
    }

    body main .container-main .container .img-div img {
        width: 57px;
        height: 57px;
    }

    body main .container-main .container p {
        font-size: 13px;
        padding: 5px 18px 0 0;
    }
}